<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-3">
      <br/>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Từ khóa" [(ngModel)] = "keyword" (keyup)="findCourse">
        </div><!-- /input-group -->
      </div>
    <div class="col-lg-3">
        <div class="col-sm-10">
          <br/>
            <button  class="btn btn-primary" type="button" [(ngModel)]="keyword" (click)="findDoctor(keyword)">Tìm kiếm</button>
        </div>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Danh sách bác sĩ
        </div>
        <div class="card-body">
          <div class="input-group">
              <!-- <button class="btn btn-primary" type='button' (click)="addCourse()"> Thêm mới
              </button> -->
            <!-- <div class="col-lg-1">
              <button class="btn btn-primary" (click)="exportAsXLSX()" type="button"> Xuất excel</button>
            </div> -->
            <button class="btn btn-primary" (click)="exportAsXLSX()" type="button">Xuất excel</button>
          </div>
          <p></p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Tên</th>
              <th>Số điểm</th>
              <th>Chuyên khoa</th>
              <th>Địa chỉ</th>
              <th>Phòng khám</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of listDoctor |  paginate: config">
              <td>{{ element.name }}</td>
              <td>{{ element.rateSummary }}</td>
              <td>{{ element.department }}</td>
              <td>{{ element.address }}</td>
              <td>{{ element.addressTitle }}</td>
              <td>
                <div ngbDropdown placement="left" class="d-inline-block">
                  <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" [routerLink]="['/menu/doctor/detail-doctor/','d', element.userId]">Xem chi tiết</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>